.price-item{
    width: 100%;
    border-bottom:1px solid #252525;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    color: white;
    padding: 10px 15px;
    background-color: #252525;
    border: #252525 1px solid;
}
.btn:hover{
    cursor: pointer;
    background-color: black;
}
.none{
    display: none;
}