.App {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.constructor{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.addList{
  padding: 5px 0;
  width: 45%;
  border: 1px solid #252525;
}

.priceList{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #252525;
  padding: 5px;
}

